@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: MoscowSans;
  font-display: swap;
  src: url("../fonts/MoscowSans-Extrabold.woff2") format("woff2"), url("../fonts/MoscowSans-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: MoscowSans;
  font-display: swap;
  src: url("../fonts/MoscowSans-Medium.woff2") format("woff2"), url("../fonts/MoscowSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: MoscowSans;
  font-display: swap;
  src: url("../fonts/MoscowSans-Light.woff2") format("woff2"), url("../fonts/MoscowSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/Muller.woff2") format("woff2"), url("../fonts/Muller.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MoscowSans;
  font-display: swap;
  src: url("../fonts/MoscowSans-Regular.woff2") format("woff2"), url("../fonts/MoscowSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #F6F7FA;
  line-height: 1;
  font-family: "MoscowSans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "MoscowSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__minus {
  display: none;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #F6F7FA;
  padding: 1.875rem 3.125rem;
  border-radius: 0.625rem;
  position: relative;
  background-color: #F6F7FA;
}

.spollers__title._spoller-active {
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}

.spollers__title._spoller-active .spollers__minus {
  display: block;
}

.spollers__title._spoller-active .spollers__plus {
  display: none;
}

._spoller-init .spollers__title {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title._spoller-active {
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  border: 0px solid transparent;
  background-color: #F6F7FA;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  background: #F85E0B;
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  color: #F6F7FA;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 1.6875rem 1.8125rem 1.375rem 1.8125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid transparent;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  padding-bottom: 1.5625rem;
  background-color: #F85E0B;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__media {
  display: inline-block;
  max-width: 16.875rem;
}

.footer__media img {
  max-width: 100%;
}

.footer__media:not(:last-child) {
  margin-bottom: 0.75rem;
}

.footer__copyright {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.hero {
  background-color: #F85E0B;
  position: relative;
  padding-bottom: 100px;
}

.hero__container {
  position: relative;
  overflow: visible;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.hero__content {
  z-index: 5;
  display: -ms-grid;
  display: grid;
}

.hero__logo {
  display: inline-block;
  max-width: 16.875rem;
}

.hero__logo img {
  max-width: 100%;
}

.hero__subtitle {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  line-height: 1.0138888889;
  text-transform: uppercase;
  -webkit-transform: rotate(-2.36deg);
      -ms-transform: rotate(-2.36deg);
          transform: rotate(-2.36deg);
}

.hero__media {
  margin-top: -3.125rem;
  z-index: 4;
}

.hero__media img {
  -webkit-transform: translate(-240px, 100px);
      -ms-transform: translate(-240px, 100px);
          transform: translate(-240px, 100px);
}

.schedule {
  background-color: #F6F7FA;
}

.schedule__container {
  position: relative;
  z-index: 2;
  color: #050E1A;
  display: -ms-grid;
  display: grid;
}

.schedule__title {
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.schedule__row {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2] auto;
  grid-template-columns: repeat(2, 1fr) auto;
  row-gap: 1.5625rem;
  position: relative;
}

.schedule__row:not(:last-child) {
  margin-bottom: 5.5rem;
}

.schedule__row:not(:last-child)::before {
  width: 100%;
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  border: 0.5px solid rgba(5, 14, 26, 0.5);
}

.schedule__date {
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.schedule__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
}

.schedule__media svg {
  width: 1.3125rem;
  height: 1.875rem;
  fill: #F85E0B;
}

.schedule__city {
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.schedule__place {
  font-weight: 300;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.tour {
  background-color: #F85E0B;
}

.tour__label:not(:last-child) {
  margin-bottom: 3.75rem;
}

.tour__title {
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.tour__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.tour__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 36.875rem 59.25rem;
  grid-template-columns: 36.875rem 59.25rem;
}

.tour__content {
  padding-top: 1.5625rem;
}

.tour__text {
  font-weight: 300;
  line-height: 1.1666666667;
  letter-spacing: 0.690476px;
}

.tour__text:not(:last-child) {
  margin-bottom: 5.3125rem;
}

.tour__text p:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.tour__button {
  border: 1px solid #F6F7FA;
}

.slider-tour {
  min-width: 0;
}

.slider-tour__slider {
  position: relative;
  -webkit-clip-path: inset(-100vw -100vw -100vw 0);
          clip-path: inset(-100vw -100vw -100vw 0);
}

.slider-tour__media-ibg {
  padding-bottom: 62.77%;
}

.button-tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 2.75rem;
  left: 2.5625rem;
}

.button-tour svg {
  fill: #F85E0B;
  width: 1.1875rem;
  height: 0.8125rem;
}

.button-tour__left {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.button-tour__left::before {
  content: "";
  z-index: -1;
  width: 4.1875rem;
  height: 2.4375rem;
  background: #f6f7fa;
  -webkit-box-shadow: 0px 15px 41px rgba(204, 211, 219, 0.332173);
          box-shadow: 0px 15px 41px rgba(204, 211, 219, 0.332173);
  border-radius: 19.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-tour__right {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.button-tour__right::before {
  content: "";
  z-index: -1;
  width: 4.1875rem;
  height: 2.4375rem;
  background: #f6f7fa;
  -webkit-box-shadow: 0px 15px 41px rgba(204, 211, 219, 0.332173);
          box-shadow: 0px 15px 41px rgba(204, 211, 219, 0.332173);
  border-radius: 19.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-tour .swiper-button-disabled {
  pointer-events: none;
}

.button-tour .swiper-button-disabled svg {
  fill: white;
}

.button-tour .swiper-button-disabled::before {
  background-color: transparent;
}

.swiper-pagination-fraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  position: absolute;
  bottom: 4.8125rem;
  left: 2.5625rem;
  font-size: 1.6875rem;
  line-height: 1.1851851852;
  letter-spacing: 0.690476px;
  font-family: Muller;
}

.swiper-pagination-fraction span:first-child {
  font-size: 3.125rem;
  line-height: 1.18;
  letter-spacing: 0.690476px;
}

.swiper-pagination-fraction span:last-child {
  opacity: 0.6;
}

.full-slider {
  background-color: #F85E0B;
}

.full-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.full-slider__container:not(:last-child) {
  margin-bottom: 1.125rem;
}

.full-slider__media-ibg {
  padding-bottom: 91.2%;
}

.button-full {
  padding-bottom: 30px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.5625rem;
}

.button-full svg {
  fill: #F85E0B;
  width: 1.1875rem;
  height: 0.8125rem;
}

.button-full__left {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.button-full__left::before {
  content: "";
  z-index: -1;
  width: 4.1875rem;
  height: 2.4375rem;
  background: #f6f7fa;
  -webkit-box-shadow: 0px 15px 41px rgba(204, 211, 219, 0.332173);
          box-shadow: 0px 15px 41px rgba(204, 211, 219, 0.332173);
  border-radius: 19.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-full__right {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.button-full__right::before {
  content: "";
  z-index: -1;
  width: 4.1875rem;
  height: 2.4375rem;
  background: #f6f7fa;
  -webkit-box-shadow: 0px 15px 41px rgba(204, 211, 219, 0.332173);
          box-shadow: 0px 15px 41px rgba(204, 211, 219, 0.332173);
  border-radius: 19.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-button-disabled {
  pointer-events: none;
}

.swiper-button-disabled svg {
  fill: white;
}

.swiper-button-disabled::before {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.spotify {
  background-color: #F85E0B;
}

.spotify__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions-spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions-spotify__button-buy {
  border: 1px solid #f6f7fa;
}

.actions-spotify__button-share {
  border: 1px solid #f6f7fa;
}

.faq {
  background-color: #F85E0B;
}

.faq__title {
  font-weight: 800;
  line-height: 1.1666666667;
  text-transform: uppercase;
}

.spollers__item {
  color: #050E1A;
  font-weight: 300;
  line-height: 30px;
}

.spollers__title {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper {
  overflow: visible;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 31.25em) {
  .schedule__row br {
    display: none;
  }
}

@media (min-width: 87.5em) {
  .tour__body {
    -webkit-column-gap: 6.9375rem;
       -moz-column-gap: 6.9375rem;
            column-gap: 6.9375rem;
  }
}

@media (min-width: 93.75em) {
  .hero__media img {
    width: 67.5rem;
  }

  .hero__media img {
    height: 46.9375rem;
  }
}

@media (min-width: 75em) {
  .button {
    font-size: 1.5rem;
  }

  .footer {
    padding-top: 4.6875rem;
  }

  .hero {
    padding-top: 4.25rem;
  }

  .hero__logo:not(:last-child) {
    margin-bottom: 4.9375rem;
  }

  .hero__subtitle {
    font-size: 2.25rem;
  }

  .hero__subtitle:not(:last-child) {
    margin-bottom: 4.9375rem;
  }

  .hero__title {
    font-size: 9rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 4.9375rem;
  }

  .schedule {
    padding-top: 9.375rem;
  }

  .schedule {
    padding-bottom: 10.0625rem;
  }

  .schedule__title {
    font-size: 2.25rem;
  }

  .schedule__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .schedule__row {
    -webkit-column-gap: 11.125rem;
       -moz-column-gap: 11.125rem;
            column-gap: 11.125rem;
  }

  .schedule__date {
    font-size: 2.25rem;
  }

  .schedule__city {
    font-size: 2.25rem;
  }

  .schedule__place {
    font-size: 1.375rem;
  }

  .tour {
    padding-top: 9.375rem;
  }

  .tour {
    padding-bottom: 6.25rem;
  }

  .tour__title {
    font-size: 2.875rem;
  }

  .tour__text {
    font-size: 1.125rem;
  }

  .full-slider__slider {
    padding-bottom: 4.6875rem;
  }

  .spotify {
    padding-top: 4.6875rem;
  }

  .spotify {
    padding-bottom: 3.125rem;
  }

  .spotify__container {
    row-gap: 9.375rem;
  }

  .spotify__body {
    width: 64.375rem;
  }

  .actions-spotify {
    gap: 5.75rem;
  }

  .faq {
    padding-top: 4.6875rem;
  }

  .faq {
    padding-bottom: 4.6875rem;
  }

  .faq__title {
    font-size: 3.75rem;
  }

  .faq__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .spollers__item {
    font-size: 1.3125rem;
  }
}

@media (max-width: 550px) {
  .swiper {
    overflow: hidden;
  }
}

@media (max-width: 22em) {
  .schedule__row {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 84.375em) {
  .tour__body {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .tour__body {
    -ms-grid-columns: 34.375rem 59.25rem;
    grid-template-columns: 34.375rem 59.25rem;
  }
}

@media (max-width: 81.25em) {
  .tour__label:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .tour__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .tour__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tour__content {
    display: -ms-grid;
    display: grid;
  }

  .tour__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .tour__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .button-tour {
    bottom: 0.9375rem;
  }

  .swiper-pagination-fraction {
    left: 1.25rem;
    bottom: 3.5625rem;
  }

  .button-full {
    bottom: 0.9375rem;
  }
}

@media (max-width: 58.125em) {
  .hero__media img {
    -webkit-transform: translate(-140px, 100px);
        -ms-transform: translate(-140px, 100px);
            transform: translate(-140px, 100px);
  }
}

@media (max-width: 56.25em) {
  .schedule__row {
    -webkit-column-gap: 1.125rem;
       -moz-column-gap: 1.125rem;
            column-gap: 1.125rem;
  }
}

@media (max-width: 47.99875em) {
  .spollers__title {
    padding: 0.9375rem 1.5625rem;
  }

  .button {
    font-size: 0.625rem;
  }

  .button {
    padding: 0.8125rem 0.5625rem 0.5625rem 0.6875rem;
  }

  .footer {
    padding-top: 1.5625rem;
  }

  .footer__media {
    max-width: 10.125rem;
  }

  .hero {
    padding-top: 1.5625rem;
  }

  .hero__logo:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .hero__logo {
    max-width: 10.125rem;
  }

  .hero__subtitle {
    font-size: 1rem;
  }

  .hero__subtitle {
    text-align: center;
  }

  .hero__subtitle:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .hero__media img {
    width: 37.5rem;
  }

  .hero__media img {
    height: 26.25rem;
  }

  .schedule {
    padding-top: 1.5625rem;
  }

  .schedule {
    padding-bottom: 1.5625rem;
  }

  .schedule__title {
    font-size: 1.25rem;
  }

  .schedule__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .schedule__date {
    font-size: 0.75rem;
  }

  .schedule__city {
    font-size: 0.875rem;
  }

  .schedule__place {
    font-size: 0.75rem;
  }

  .tour {
    padding-top: 1.5625rem;
  }

  .tour {
    padding-bottom: 1.5625rem;
  }

  .tour__title {
    font-size: 1.25rem;
  }

  .tour__text {
    font-size: 0.875rem;
  }

  .slider-tour__media-ibg {
    padding-bottom: 90%;
  }

  .button-tour svg {
    width: 0.875rem;
    height: 0.625rem;
  }

  .button-tour__left::before {
    width: 2.9375rem;
    height: 1.875rem;
  }

  .button-tour__right::before {
    width: 2.9375rem;
    height: 1.875rem;
  }

  .full-slider__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .full-slider__container:not(:last-child) {
    margin-bottom: 0rem;
  }

  .full-slider__slider {
    padding-bottom: 1.5625rem;
  }

  .button-full {
    display: none;
  }

  .button-full {
    padding-right: 0pc;
  }

  .spotify {
    padding-top: 1.5625rem;
  }

  .spotify {
    padding-bottom: 1.5625rem;
  }

  .spotify__container {
    row-gap: 1.5625rem;
  }

  .spotify__body {
    width: 31.25rem;
  }

  .actions-spotify {
    gap: 0.9375rem;
  }

  .faq {
    padding-top: 1.5625rem;
  }

  .faq {
    padding-bottom: 1.5625rem;
  }

  .faq__title {
    font-size: 1.25rem;
  }

  .faq__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .spollers__item {
    font-size: 0.875rem;
  }
}

@media (max-width: 43.75em) {
  .schedule__row:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .schedule__row:not(:last-child)::before {
    display: none;
  }
}

@media (max-width: 32.1875em) {
  .actions-spotify {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 31.25em) {
  .hero {
    padding-bottom: 50px;
  }

  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__content:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .hero__title {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .hero__media {
    z-index: 10;
  }

  .hero__media img {
    -webkit-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
            transform: translate(0, 50px);
    margin-top: -25px;
    width: 22.5rem;
    height: 15.625rem;
  }

  .schedule__row {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .schedule__row span {
    display: none;
  }

  .schedule__media svg {
    width: 14px;
    height: 20px;
  }

  .schedule__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 24.375em) {
  .schedule__row {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
    -ms-grid-columns: 3.75rem 1fr auto;
    grid-template-columns: 3.75rem 1fr auto;
  }
}

@media (min-width: 47.99875em) and (max-width: 75em) {
@supports (font-size: clamp( 0.625rem , -0.930443035rem  +  3.2405907134vw , 1.5rem )) {
    .button {
      font-size: clamp( 0.625rem , -0.930443035rem  +  3.2405907134vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.625rem , -0.930443035rem  +  3.2405907134vw , 1.5rem )) {
    .button {
      font-size: calc(0.625rem + 0.875 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .footer {
      padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .footer {
      padding-top: calc(1.5625rem + 3.125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-top: clamp( 1.5625rem , -3.2149321791rem  +  9.9532429054vw , 4.25rem )) {
    .hero {
      padding-top: clamp( 1.5625rem , -3.2149321791rem  +  9.9532429054vw , 4.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -3.2149321791rem  +  9.9532429054vw , 4.25rem )) {
    .hero {
      padding-top: calc(1.5625rem + 2.6875 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem )) {
    .hero__logo:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem )) {
    .hero__logo:not(:last-child) {
      margin-bottom: calc(1.5625rem + 3.375 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 1rem , -1.2220614786rem  +  4.6294153048vw , 2.25rem )) {
    .hero__subtitle {
      font-size: clamp( 1rem , -1.2220614786rem  +  4.6294153048vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1rem , -1.2220614786rem  +  4.6294153048vw , 2.25rem )) {
    .hero__subtitle {
      font-size: calc(1rem + 1.25 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem )) {
    .hero__subtitle:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem )) {
    .hero__subtitle:not(:last-child) {
      margin-bottom: calc(1.5625rem + 3.375 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 3.75rem , -5.5826582103rem  +  19.4435442804vw , 9rem )) {
    .hero__title {
      font-size: clamp( 3.75rem , -5.5826582103rem  +  19.4435442804vw , 9rem );
    }
}

@supports not (font-size: clamp( 3.75rem , -5.5826582103rem  +  19.4435442804vw , 9rem )) {
    .hero__title {
      font-size: calc(3.75rem + 5.25 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -4.4370659923rem  +  12.4994213231vw , 4.9375rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 3.375 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-top: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem )) {
    .schedule {
      padding-top: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem )) {
    .schedule {
      padding-top: calc(1.5625rem + 7.8125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -13.5475180547rem  +  31.480024073vw , 10.0625rem )) {
    .schedule {
      padding-bottom: clamp( 1.5625rem , -13.5475180547rem  +  31.480024073vw , 10.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -13.5475180547rem  +  31.480024073vw , 10.0625rem )) {
    .schedule {
      padding-bottom: calc(1.5625rem + 8.5 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 1.25rem , -0.5276491829rem  +  3.7035322439vw , 2.25rem )) {
    .schedule__title {
      font-size: clamp( 1.25rem , -0.5276491829rem  +  3.7035322439vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -0.5276491829rem  +  3.7035322439vw , 2.25rem )) {
    .schedule__title {
      font-size: calc(1.25rem + 1 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -2.3261075876rem  +  8.1014767835vw , 3.75rem )) {
    .schedule__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , -2.3261075876rem  +  8.1014767835vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -2.3261075876rem  +  8.1014767835vw , 3.75rem )) {
    .schedule__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.1875 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 0.75rem , -1.9164737744rem  +  5.5552983658vw , 2.25rem )) {
    .schedule__date {
      font-size: clamp( 0.75rem , -1.9164737744rem  +  5.5552983658vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , -1.9164737744rem  +  5.5552983658vw , 2.25rem )) {
    .schedule__date {
      font-size: calc(0.75rem + 1.5 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 0.875rem , -1.5692676265rem  +  5.0923568353vw , 2.25rem )) {
    .schedule__city {
      font-size: clamp( 0.875rem , -1.5692676265rem  +  5.0923568353vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , -1.5692676265rem  +  5.0923568353vw , 2.25rem )) {
    .schedule__city {
      font-size: calc(0.875rem + 1.375 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 0.75rem , -0.3610307393rem  +  2.3147076524vw , 1.375rem )) {
    .schedule__place {
      font-size: clamp( 0.75rem , -0.3610307393rem  +  2.3147076524vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.75rem , -0.3610307393rem  +  2.3147076524vw , 1.375rem )) {
    .schedule__place {
      font-size: calc(0.75rem + 0.625 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-top: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem )) {
    .tour {
      padding-top: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem )) {
    .tour {
      padding-top: calc(1.5625rem + 7.8125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -6.7702305449rem  +  17.3603073932vw , 6.25rem )) {
    .tour {
      padding-bottom: clamp( 1.5625rem , -6.7702305449rem  +  17.3603073932vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -6.7702305449rem  +  17.3603073932vw , 6.25rem )) {
    .tour {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 1.25rem , -1.6386799222rem  +  6.0182398963vw , 2.875rem )) {
    .tour__title {
      font-size: clamp( 1.25rem , -1.6386799222rem  +  6.0182398963vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -1.6386799222rem  +  6.0182398963vw , 2.875rem )) {
    .tour__title {
      font-size: calc(1.25rem + 1.625 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.4305877043rem  +  0.925883061vw , 1.125rem )) {
    .tour__text {
      font-size: clamp( 0.875rem , 0.4305877043rem  +  0.925883061vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.4305877043rem  +  0.925883061vw , 1.125rem )) {
    .tour__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .full-slider__slider {
      padding-bottom: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .full-slider__slider {
      padding-bottom: calc(1.5625rem + 3.125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .spotify {
      padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .spotify {
      padding-top: calc(1.5625rem + 3.125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -1.2150768483rem  +  5.7867691311vw , 3.125rem )) {
    .spotify {
      padding-bottom: clamp( 1.5625rem , -1.2150768483rem  +  5.7867691311vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -1.2150768483rem  +  5.7867691311vw , 3.125rem )) {
    .spotify {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (row-gap: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem )) {
    .spotify__container {
      row-gap: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , -12.3253842415rem  +  28.9338456553vw , 9.375rem )) {
    .spotify__container {
      row-gap: calc(1.5625rem + 7.8125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (width: clamp( 31.25rem , -27.6346291838rem  +  122.6795055784vw , 64.375rem )) {
    .spotify__body {
      width: clamp( 31.25rem , -27.6346291838rem  +  122.6795055784vw , 64.375rem );
    }
}

@supports not (width: clamp( 31.25rem , -27.6346291838rem  +  122.6795055784vw , 64.375rem )) {
    .spotify__body {
      width: calc(31.25rem + 33.125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (gap: clamp( 0.9375rem , -7.6174366927rem  +  17.8232489237vw , 5.75rem )) {
    .actions-spotify {
      gap: clamp( 0.9375rem , -7.6174366927rem  +  17.8232489237vw , 5.75rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -7.6174366927rem  +  17.8232489237vw , 5.75rem )) {
    .actions-spotify {
      gap: calc(0.9375rem + 4.8125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .faq {
      padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .faq {
      padding-top: calc(1.5625rem + 3.125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .faq {
      padding-bottom: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -3.9926536966rem  +  11.5735382621vw , 4.6875rem )) {
    .faq {
      padding-bottom: calc(1.5625rem + 3.125 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 1.25rem , -3.1941229573rem  +  9.2588306097vw , 3.75rem )) {
    .faq__title {
      font-size: clamp( 1.25rem , -3.1941229573rem  +  9.2588306097vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -3.1941229573rem  +  9.2588306097vw , 3.75rem )) {
    .faq__title {
      font-size: calc(1.25rem + 2.5 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -3.1941229573rem  +  9.2588306097vw , 3.75rem )) {
    .faq__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -3.1941229573rem  +  9.2588306097vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -3.1941229573rem  +  9.2588306097vw , 3.75rem )) {
    .faq__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 47.99875rem) / 27.00125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.0972784825rem  +  1.6202953567vw , 1.3125rem )) {
    .spollers__item {
      font-size: clamp( 0.875rem , 0.0972784825rem  +  1.6202953567vw , 1.3125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.0972784825rem  +  1.6202953567vw , 1.3125rem )) {
    .spollers__item {
      font-size: calc(0.875rem + 0.4375 * (100vw - 47.99875rem) / 27.00125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 93.75em) {
@supports (width: clamp( 37.5rem , 6.026269774rem  +  65.5719789077vw , 67.5rem )) {
    .hero__media img {
      width: clamp( 37.5rem , 6.026269774rem  +  65.5719789077vw , 67.5rem );
    }
}

@supports not (width: clamp( 37.5rem , 6.026269774rem  +  65.5719789077vw , 67.5rem )) {
    .hero__media img {
      width: calc(37.5rem + 30 * (100vw - 47.99875rem) / 45.75125);
    }
}

@supports (height: clamp( 26.25rem , 4.5462401984rem  +  45.2173437884vw , 46.9375rem )) {
    .hero__media img {
      height: clamp( 26.25rem , 4.5462401984rem  +  45.2173437884vw , 46.9375rem );
    }
}

@supports not (height: clamp( 26.25rem , 4.5462401984rem  +  45.2173437884vw , 46.9375rem )) {
    .hero__media img {
      height: calc(26.25rem + 20.6875 * (100vw - 47.99875rem) / 45.75125);
    }
}
}

@media (min-width: 56.25em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 1.125rem , -28.875rem  +  53.3333333333vw , 11.125rem )) or (column-gap: clamp( 1.125rem , -28.875rem  +  53.3333333333vw , 11.125rem ))) {
    .schedule__row {
      -webkit-column-gap: clamp( 1.125rem , -28.875rem  +  53.3333333333vw , 11.125rem );
         -moz-column-gap: clamp( 1.125rem , -28.875rem  +  53.3333333333vw , 11.125rem );
              column-gap: clamp( 1.125rem , -28.875rem  +  53.3333333333vw , 11.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.125rem , -28.875rem  +  53.3333333333vw , 11.125rem )) or (column-gap: clamp( 1.125rem , -28.875rem  +  53.3333333333vw , 11.125rem ))) {
    .schedule__row {
      -webkit-column-gap: calc(1.125rem + 10 * (100vw - 56.25rem) / 18.75);
         -moz-column-gap: calc(1.125rem + 10 * (100vw - 56.25rem) / 18.75);
              column-gap: calc(1.125rem + 10 * (100vw - 56.25rem) / 18.75);
    }
}
}

@media (min-width: 84.375em) and (max-width: 87.5em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -143.5625rem  +  172vw , 6.9375rem )) or (column-gap: clamp( 1.5625rem , -143.5625rem  +  172vw , 6.9375rem ))) {
    .tour__body {
      -webkit-column-gap: clamp( 1.5625rem , -143.5625rem  +  172vw , 6.9375rem );
         -moz-column-gap: clamp( 1.5625rem , -143.5625rem  +  172vw , 6.9375rem );
              column-gap: clamp( 1.5625rem , -143.5625rem  +  172vw , 6.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -143.5625rem  +  172vw , 6.9375rem )) or (column-gap: clamp( 1.5625rem , -143.5625rem  +  172vw , 6.9375rem ))) {
    .tour__body {
      -webkit-column-gap: calc(1.5625rem + 5.375 * (100vw - 84.375rem) / 3.125);
         -moz-column-gap: calc(1.5625rem + 5.375 * (100vw - 84.375rem) / 3.125);
              column-gap: calc(1.5625rem + 5.375 * (100vw - 84.375rem) / 3.125);
    }
}
}

@media (min-width: 20em) and (max-width: 47.9375em) {
@supports (width: clamp( 18.75rem , 9.8014541387rem  +  44.7427293065vw , 31.25rem )) {
    .spotify__body {
      width: clamp( 18.75rem , 9.8014541387rem  +  44.7427293065vw , 31.25rem );
    }
}

@supports not (width: clamp( 18.75rem , 9.8014541387rem  +  44.7427293065vw , 31.25rem )) {
    .spotify__body {
      width: calc(18.75rem + 12.5 * (100vw - 20rem) / 27.9375);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #F6F7FA;
    border: 1px solid #F85E0B;
    color: #F85E0B;
  }

  .spollers__title:hover {
    opacity: 0.8;
  }
}